@import "_variables";


body {
	background-color: #fff;
	font-family: OpenSans, sans-serif;//Open Sans
	font-size: 16px;
	line-height: 1.75;
	color: $color;
	// font-family: OpenSans;
}

.h1 {
	font-size: 55px;
	color: #fff;
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 21px;
	// font-weight: 400;
}

.h4 {
	font-size: 16px;
	font-weight: 300;
	color: $green-darker2;
	margin-top: 20px;
}

section .h3 {
	position: relative;
	&:after {
		content: "";
		width: 43px;
		height: 2px;
		background-color: $color;
		position: absolute;
		bottom: -10px;
		right: 0;
		left: 0;
		margin: auto;
	}
}

.header {
	background-image: url('/images/background.jpg');
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .h1 {
    	text-align: center;
    	white-space: nowrap;
    	margin-top: 200px;
    	font-weight: 700;
    }
}

.navbar {
	border: none;
}


.navbar-default {
	background-color: inherit;
}

.navbar-toggle {
    border-color: #ddd;
    background-color: #eee;
	.icon-bar {
    	background-color: #888;
	}
	&:hover {
		background-color: #ddd;
	}
}

.navbar-brand {
    position: absolute;
    margin: 6px auto !important;
    right: 0;
    left: 0;
    width: 62px;
    height: 16px;
    padding: 0;
}

.navbar-form {
	margin-top: 4px;
}

.navbar-toggle {
    z-index:3;
}

.nav {
	a {
		color: #fff;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 7px !important;
		margin-right: 20px;
		position: relative;

		&:after {
			display:block;
			content:attr(data-text);
			font-weight:bold;
			height:0;
			color:transparent;
			overflow:hidden;
			visibility:hidden;
		}
	}

	li {
		&.active > a, > a:hover, > a:focus {
			&:before {
				content: "";
				top: 0;
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: $green-base;
			}
			font-weight: bold;
			background-color: inherit;//
		}
	}
}

.search-button {
	width: 177px !important;
	height: 27px;
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	border: none;
	//remove me
	// opacity: 0.7;

	&::placeholder {
		color:  #111111;
		font-size: 15px;/* Approximation due to font substitution */
		font-weight: 300;
		margin-left: 13px;
		// text-align: center;
	}

	&:hover,&:focus {
		background-color:  rgba(255, 255, 255, 1);

	}
}

.form-control-feedback {
	width: 14px;
	height: 14px;
	color: #111;
	right: 9px;
	// bottom: 15px;
	top: 5px !important;
}

.header-main-wrap {
	text-align: center;
}

button.work {
	width: 208px;
	height: 47px;
	background-color: $green-base;
	text-align: center;
	line-height: 47px;
	user-select: none;
	color: #fff;
	font-size: 22px;
	margin-top: 20px;
	border: 0;
	border-radius: 30px;
	display: inline-block;
	&:hover {
		background-color: $green-darker1;
	}
}

.scroll-down {
	color: #111;
	width: 120px;
	height: 25px;
	line-height: 25px;
	background-color: rgba(255,255,255, .7);
	border-radius: 15px;
	display: inline-block;
	border: 0;
	margin-top: 215px;
	margin-bottom: 12px;
	outline: 0;
	&:hover {
		background-color: #fff;
	}

	img {
		vertical-align: baseline;
		margin-left: 1px;
	}
}

/*-------------------------------------------------*/
/* =  About
/*-------------------------------------------------*/

section.about {
	.h3 {
		margin-top: 40px;
	}

	.h4 {
		color: #b7b3b3;
	}

	.about-block {
		margin-top: 60px;
	}

	.title {
		font-size: 24px;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	.content {
		font-size: 15px;
	}

	.more {
		width: 120px;
		height: 30px;
		margin-top: 21px;
		border-radius: 15px;
		background-color: $green-base;
		display: inline-block;
		text-align: center;
		font-weight: 700;
		line-height: 30px;
		color: #fff;
		font-size: 15px;
		&:hover {
			text-decoration: none;
			background-color: $green-darker1;
		}
	}
}

/*-------------------------------------------------*/
/* =  Section Work
/*-------------------------------------------------*/

section.work {
	margin-top: 73px;
	background-color: $green-base;
	padding-top: 40px;
	.h3 {
		color: $green-dark;
		&:after {
			background-color: $green-dark;
		}
	}

	.h4 {
		color: $green-darker2;
	}

	.more {
		margin-top: 27px; //56-29
		margin-bottom: 53px;
		display: inline-block;
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
		background-color: $green-darker2;
		width: 186px;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
}

.filter-wrap {
	margin-top: 56px;
	margin-bottom: 58px;
	// border-radius: 20px;
	// border: 1px solid $green-darker2;
	display: inline-flex;
	.filter-item {
		text-decoration: none;
		padding: 8px 20px;
		font-size: 15px;
		cursor: pointer;
		&:nth-of-type(1) {
			border: 1px solid $green-darker2;
			border-radius: 20px 0 0 20px;
		}
		&:nth-of-type(2) {
			border-top: 1px solid $green-darker2;
			border-bottom: 1px solid $green-darker2;
			border-right: 1px solid $green-darker2;
		}
		&:nth-of-type(3) {
			border-top: 1px solid $green-darker2;
			border-bottom: 1px solid $green-darker2;
			border-right: 1px solid $green-darker2;
			border-radius: 0 20px 20px 0;
		}
		&:not(:last-of-type) {
			border-right: 1px solid $green-darker2;
		}

		&:not(.active) {
			color: $green-darker2;
			background-color: #fff;
		}

		&.active, &:hover {
			color: #fff;
			background-color: $green-darker2;
		}
	}
}

.work-item {
	margin-bottom: 29px;
}