$gray-base: #828181;
$green-base: #54d154;
$green-darker1: #3eba3e;
$green-darker2: #2b9b2b;
$green-dark: #207b20;


body {
	background-color: #fff;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	color: $gray-base;
	// font-family: OpenSans;
}

.h1 {
	font-size: 55px;
	color: #fff;
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 20px;
}

.h4 {

	font-size: 16px;
	font-weight: 300;
	color: $green-darker2;
}

.header {
	background-image: url('/images/background.jpg');
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
	border: none;
}



.navbar-default {
	background-color: inherit;
}

.navbar-toggle {
    border-color: #ddd;
    background-color: #eee;
	.icon-bar {
    	background-color: #888;
	}
	&:hover {
		background-color: #ddd;
	}
}

.navbar-brand {
    position: absolute;
    margin: 20px auto !important;
    right: 0;
    left: 0;
    width: 62px;
    height: 16px;
    padding: 0;
}
.navbar-toggle {
    z-index:3;
}

.nav {
	a {
		color: #fff;
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-right: 20px;
		position: relative;


		&:after {
			display:block;
			content:attr(data-text);
			font-weight:bold;
			height:1px;
			color:transparent;
			overflow:hidden;
			visibility:hidden;
		}
	}

	li {
		&.active > a, > a:hover {
			&:before {
				content: "";
				top: 0;
				position: absolute;
				width: 100%;
				height: 4px;
				background-color: $green-base;
			}
			font-weight: bold;
			background-color: inherit;
		}
	}
}

.search-button {
	width: 177px !important;
	height: 27px;
	background-color:  rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	//remove me
	// opacity: 0.7;

	&::placeholder {
		color:  #111111;
		font-size: 15px;/* Approximation due to font substitution */
		font-weight: 300;
		margin-left: 13px;
		// text-align: center;
	}

	&:hover,&:focus {
		background-color:  rgba(255, 255, 255, 1);

	}
}

.form-control-feedback {
	width: 14px;
	height: 14px;
	color: #111;
	right: 9px;
	bottom: 15px;
	top: -4px !important;
}


